[submodule "frontend"]
	path = frontend
	url = git@extramuros.ryandv.me:sandbox-tv/frontend.git
[submodule "chat-server"]
	path = chat-server
	url = git@extramuros.ryandv.me:sandbox-tv/chat-server.git
[submodule "api"]
	path = api
	url = git@extramuros.ryandv.me:sandbox-tv/api.git
